html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#camera, #panel{
    display: inline-block;
    text-align: center;
}

#camera--view{
    width: 100%;
    transform: scaleX(-1);
    object-fit: cover;
}


#camera--sensor{
    display: none;
}

.button{
    width: 200px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 15px 20px;
    margin: 15px 0;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
}

.taken{
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    right: 20px;
    z-index: 2;
}

.shot{
    transform: scaleX(-1);
    object-fit: cover;
}


ul {
    list-style-type: none;
}